
.icon-kaggle:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
